.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
}
.App div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.App div:hover {
  opacity: 0.6;
}
.App div:active {
  opacity: 0.5;
  transform: translateY(3px);
}
